-# sets the graph structure variable so that is available to paper
:javascript
  graph_structure = {};

= render :partial => "/tokens/generate_token"

<canvas id="display_graph_canvas" width="960" height="500">
</canvas>

:javascript
  $(document).ready(function()  {
    
    function get_graph_structure()  {
      $.ajax({
        url: "#{get_display_graph_structure_path(@display_graph)}",
        dataType: "json",
        type: "GET",
        success: function(data)  {
          graph_structure = data
        }
      });
    }

    function set_graph_structure()  {
      $.ajax({
        url: "#{set_display_graph_structure_path(@display_graph)}",
        data: "graph_structure=" + JSON.stringify(graph_structure),
        dataType: "json",
        type: "POST",
        success: function(data)  {
          //not doing anything here for now
        }
      });
    }

    function start_sending_updates() {
      setInterval(function(){ set_graph_structure() }, 5000);
    }

    get_graph_structure();
    setTimeout(function(){ start_sending_updates()}, 2000);
  });

:plain
  <script type='text/paperscript' canvas='display_graph_canvas'>
    var Graph = Base.extend({
      initialize: function(graph_structure)  {
      },
      redraw: function()  {
      },
    });

    var Node = Base.extend({
      initialize: function()  {
      },
    });

    var Connection = Base.extend({
      initialize: function()  {
      },
    });

    //setup the canvas
    var background = new Path.Rectangle(view.bounds);
    background.fillColor = 'black';

    graph = new Graph(graph_structure);

    function onFrame(event)  {
      graph.redraw();
    }

    function onMouseDown(event)  {
    }

  </script>
